{% extends "base.html" %}
{% block title %}
  {% if admin %}
    Alterar Senha do Usuário: {{ user.username }}
  {% else %}
    Alterar Minha Senha
  {% endif %}
{% endblock %}
{% block content %}
  <h1 class="mb-4">
    {% if admin %}
      Alterar Senha do Usuário: {{ user.username }}
    {% else %}
      Alterar Minha Senha
    {% endif %}
  </h1>
  <form method="POST">
    <div class="mb-3">
      <label for="new_password" class="form-label">Nova Senha</label>
      <input type="password" name="new_password" id="new_password" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="confirm_password" class="form-label">Confirmar Nova Senha</label>
      <input type="password" name="confirm_password" id="confirm_password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Alterar Senha</button>
  </form>
  <br>
  {% if admin %}
    <a href="{{ url_for('manage_users') }}" class="btn btn-secondary">Voltar para Gerenciar Usuários</a>
  {% else %}
    <a href="{{ url_for('profile') }}" class="btn btn-secondary">Voltar para o Perfil</a>
  {% endif %}
{% endblock %}
